body {
	font-family: $body-font;
	background-color: $color-primary;
	color: #fff;
	overflow-x: hidden;


	// Button Styles
	.btn {
		position: relative;
		display: inline-block;
		padding: rem(15) rem(24);
		border: rem(2) solid $color-accent;
		border-radius: rem(3);

		font-size: rem(12);
		font-weight: 500;
		color: $color-white;
		text-transform: uppercase;
		letter-spacing: rem(2);

		@include transition($transition-med);

		&:hover {
			background-color: $color-accent;
		}

		&.btn-arrow-r {
			overflow: hidden;
			&:after {
				content: '→';
				display: inline-block;
				padding-left: rem(9);

				@include transition($transition-med);
			}

			&:hover {
				padding-left: rem(36);
				padding-right: rem(13);
				&:after {
					@include transform(translateX(200%));
				}
			}
		}
	}

	a.btn {
		color: $color-white;
	}

	#footer {
		position: relative;
		z-index: 3;
		margin-top: rem(-30);
		.footer-credit {
			display: block;
			width: 100%;
			text-align: center;
			color: $color-accent;
			font-size: rem(12);
			margin-bottom: rem(18);

		}
	}
}