body {
	font-family: $body-font;
	background-color: $color-primary;
	color: #fff;
	overflow-x: hidden;


	// Button Styles
	.btn {
		position: relative;
		display: inline-block;
		padding: rem(15) rem(30);
		border: rem(1) solid $color-accent;
		border-radius: rem(3);

		font-size: rem(12);
		font-weight: 300;
		color: $color-white;
		text-transform: uppercase;
		letter-spacing: rem(2);

		@include transition($transition-med);

		&:hover {
			background-color: $color-accent;
		}

		@include breakpoint($bp-s) {
			padding: rem(15) rem(30);

			font-size: rem(15);
			font-weight: 300;
			letter-spacing: rem(2);
		}

		&.btn-arrow-r {
			overflow: hidden;
			&:after {
				content: '→';
				display: inline-block;
				padding-left: rem(9);

				@include transition($transition-med);
			}

			&:hover {
				padding-left: rem(42);
				padding-right: rem(18);
				&:after {
					@include transform(translateX(200%));
				}
			}
		}
	}

	a.btn {
		color: $color-white;
	}

	#footer {
		position: relative;
		z-index: 3;
		// margin-top: rem(-30);
		@include outer-container;
		padding: rem(18) 0;
		.footer-credit {
			@include span-columns(12);
			display: block;
			// width: 100%;
			text-align: center;
			color: $color-accent;
			font-size: rem(12);
			// margin-bottom: rem(18);
			font-weight: 300;
			letter-spacing: rem(1);

		}
	}
}