.login-container {
	min-height: 100vh !important;
	height: 100vh;

	margin-bottom: rem(-54);

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		background-image: url('../images/trees.jpg');
		background-size: cover;
		background-position: center;

		opacity: 0.075;
		@include filter(grayscale(25%));
	}
		
	.login {
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));

		max-width: rem(300);
		width: 100%;

		h1 {
			font-family: $body-font;
			color: $color-accent;
			display: block;
			//font-size: rem(24);
			@extend .subhead;
			margin-bottom: rem(6);
		}

		h2 {
			font-family: $body-font;
			font-size: rem(15);
			font-weight: 100;
			line-height: 1.5;
			letter-spacing: rem(.5);

			padding: 0 rem(0);
			margin-bottom: rem(18);

			text-transform: none;

			// strong {
			// 	color: $color-accent;
			// 	display: block;
			// 	//font-size: rem(24);
			// 	@extend .subhead;
			// 	margin-bottom: rem(6);
			// }
		}

		.alert {

			blockquote {
				background-color: transparent;
				border: rem(1) solid $color-accent;
				margin: 0 rem(12);
   				border-radius: rem(3);
    			padding: rem(12) rem(24);

				p {
					color: $color-accent;
					font-size: rem(12);

					&:before {
						content: '!';
						display: block;
						height: rem(30);
						width: rem(30);
						border: rem(1) solid $color-accent;
						background-color: $color-accent;
						border-radius: 50%;

						font-size: rem(15);
						//font-style: italic;
						//font-family: serif;
						font-weight: 500;
						line-height: rem(28);
						color: $color-white;

						margin: 0 auto rem(12);
					}
					a {
						text-decoration: underline;

						&:hover {
							color: $color-white;
						}
					}
				}
			}
		}

		#private {
			margin-top: rem(12);
			fieldset {
				border: none;

				div {
					label[for="password"] {
						display: none;
					}

					input {
						padding: rem(15) rem(30);
						border-radius: rem(3);
						width: 100%;
						border: none;
						background: rgba(255,255,255,.05);

						text-align: center;
						color: $color-white;
						font-size: rem(18);
						font-weight: 100;

						border: rem(1) solid transparent;

						@include transition($transition-med);

						&:focus {
							outline: none;
							border: rem(1) solid $color-white;
						}
					}
				}

				.buttons {
					.button {
						@extend .btn;
						background-color: $color-accent;
						display: block;
						width: 100%;
						margin-top: rem(12);

						outline: none;
						border: none;


						&:hover, &:active, &:focus {
							outline: none;
							background: shade($color-accent, 15%) !important;
							border-color: shade($color-accent, 15%) !important;
							@include transform(scale(1.02));
						}
					}
				}
			}
		}
	}
}

