/* =========================================================

Base: Variables

========================================================= */

// Colors
$color-primary: #21212b; 
$color-accent: #cb4e4e;
$color-white: #fff;

// Fonts
$font-display: ‘Hellous’;

// Section Padding
$section-padding: rem(15) rem(30);