/* =========================================================

Base: Variables

========================================================= */

// Colors
$color-primary: #242433; 
$color-accent: #cb4e4e;
$color-white: #fff;

$color-gradient: rgba(36,36,51,0), rgba(36,36,51,1); 

// Fonts
$font-display: "flood-std", sans-serif;
$headline-font: "Montserrat", sans-serif;
$body-font: "museo-sans", sans-serif;

// Section Padding
$section-padding: rem(15) rem(30);

// Transition Timing

$transition-med: all .25s ease;