.home-work {

	.home-work-feed {
		ul {
			list-style: none;
			margin: 0;
			padding: rem(30) 0;
			@include clearfix;
			@include outer-container;
			// margin: rem(30);

			// Work Grid Layout
			@include display-context(table) {
			    li {
					@include span-columns(12);

					@include breakpoint($bp-m) {
						@include span-columns(6);
					}
			    }
			}

			li {
				position: relative;
				display: block;
				float: left;

				&:before {
					content: '';
					padding-top: 50%;
					display: block;
				}

				&:nth-of-type(even) {
					a {
						left: rem(30);
						right: rem(30);

						@include breakpoint($bp-m) {
							left: rem(6);
							right: rem(30);
						}
					}
				}

				&:nth-of-type(odd) {
					a {
						left: rem(30);
						right: rem(30);

						@include breakpoint($bp-m) {
							left: rem(30);
							right: rem(6);
						}
					}
				}

				a {
					position: absolute;
					z-index: 100;
					top: rem(6);
					bottom: rem(6);


					text-align: center;
					background-color: $color-white;
					border-radius: rem(2);

					box-shadow: $card-shadow;

					height: auto;
					width: auto;

					@include transition(all .25s ease);

					&:hover {
						@include transform(scale(0.98));
						box-shadow: 1px 0px 60px rgba(0,0,0,0.25);
						z-index: 10000;

						div {
							h3 {
								@include transition(all .25s ease);
								@include transform(scale(1.25)translateY(-50%));
							}
						}
					}

					div {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;

						h3 {
							display: block;
							position: absolute;
							top: 50%;
							@include transform(translateY(-50%));
							margin: 0 auto;
							width: 100%;

							@include transition(all .25s ease);
						}
					}
				}

			}
		}
	}
}