.home-hero {
	position: relative;
	height: 100vh;
	width: 100%;
	.home-hero-content {
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		left: 0;
		right: 0;
		@include outer-container;

		text-align: center;

		h1 {
			display: block;
			text-align: center;
			color: $color-white;
			clear: both;
			font-size: rem(90);
			font-family: $display-font;
		}
	}

	.intro-scroll-container {
		position: absolute;
		z-index: 100;
		left: 50%;
		@include transform(translateX(-50%));
		bottom: rem(60);

		height: rem(30);
		width: rem(30);
		// cursor: pointer;
		display: block;

		.intro-scroll {
			position: relative;
			height: rem(30);
			width: rem(30);
			border: rem(2) solid $color-accent;
			@include transform(rotate(45deg));

			@include transition(all .25s ease);

		}

		.intro-scroll-arrow {
			height: 5px;
			// background-color: $color-white;
			position: absolute;
			left: 50%;
			top: 50%;

			@include transform(translateY(-50%));
			@include transition(all .25s ease);

			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				height: 2px;
				width: 8px;
				background-color: $color-white;
			}

			&:before {
				right: rem(-2);
				bottom: 0;
				@include transform(rotate(45deg));
			}

			&:after {
				left: rem(-2);
				bottom: 0;
				@include transform(rotate(-45deg));
			}
		}

		.intro-scroll-text {
			position: absolute;
			min-width: 138px;
			top: 50%;
			margin-top: rem(-6);
			margin-left: rem(4);
			left: 50%;
			@include transform(translateX(-50%));

			opacity: .5;

			@include transition(all .25s ease);

			span {
				display: inline-block;
				color: #fff;
				font-size: rem(9);
				letter-spacing: rem(3);
				text-transform: uppercase;
				font-weight: 700;


				&:first-of-type {
					float: left;
				}

				&:last-of-type {
					float: right;
				}
			}
		}

		&:hover {
			.intro-scroll {
				@include transform(translateY(rem(3))rotate(45deg));
				border-color: $color-white;
				opacity: .75;
			}
			.intro-scroll-arrow {
				@include transform(translateY(rem(40)));
			}
			.intro-scroll-text {
				opacity: .75;
			}
		}
	}
}

.home-bkg {
		position: fixed;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		// background-image: url('../images/forest.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		// @include filter(grayscale(100%));
		opacity: .05;
	}