/* =========================================================

Module: Project Desktop Slider

========================================================= */
.project-ds {
	padding-top: rem(60);
	margin-bottom: 40%;
	position: relative;

	border-top: 1px solid rgba(255,255,255,.05);

	@include breakpoint($bp-s) {
		padding-top: rem(90);
	}

	@include breakpoint($bp-m) {
		padding-top: rem(120);
		border-top: none;
		margin-bottom: 30%;
	}

	@include breakpoint($bp-l) {
		margin-bottom: 30%;
	}

	@include breakpoint($bp-xl) {
		margin-bottom: rem(390);
	}

	.project-ds-container {
		@include outer-container;

		.project-ds-content-container {
			.project-ds-content-inner-container {
				text-align: left;
				@include span-columns(12);
				// @include shift(1);
				padding: 0 rem(30);

				@include breakpoint($bp-s) {
					@include span-columns(10);
					@include shift(1);
				}

				@include breakpoint($bp-m) {
					text-align: center;
					padding: 0;

					@include span-columns(8);
					@include shift(2);
				}

				@include breakpoint($bp-l) {
					@include span-columns(6);
					@include shift(3);

					padding-bottom: rem(18);
				}
			}
		}

		.project-ds-slider-container {
			position: relative;
			z-index: 10;
			@include span-columns(10);
			@include shift(1);
			padding: 0 4%;


			.project-ds-slider {
				margin-top: rem(30);
				background-color: #000;

				@include breakpoint($bp-s) {
					margin-top: rem(60);
				}

				@include breakpoint($bp-m) {
					// margin-top: rem(90);
				}
				&:after {
					content: '';
					position: absolute;
					z-index: 5;
					pointer-events: none;
					display: block;
					top: -16.5%;
					bottom: -55%;
					left: -9%;
					right: -9%;
					width: auto;
					height: auto;


					background-image: url('../images/desktop.png');
					background-size: 100% auto;
					background-repeat: no-repeat;
				}
				.project-ds-slide {
					position: relative;
					z-index: 4;
					overflow: scroll;

					&:before {
						content: '';
						padding-top: 56.5%;
						display: block;
					}

					.project-ds-slide-image{
						position: absolute;
						top: 0;
						img {
							width: 100%;
						}
					}
				}
			}
		}
	}

	.project-ds-background {
		position: absolute;
		z-index: 1;
		max-height: rem(534);
		bottom: 5%;
		left: 0;
		right: 0;

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		opacity: 0.05;
		@include filter(grayscale(100%));

		&:before {
			content: '';
			padding-top: 42%;
			display: block;
		}

		@include breakpoint($bp-m) {
			bottom: 4%;
		}

		@include breakpoint($bp-l) {
			bottom: 3%;
		}
	}
}