@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* =========================================================

Base: Variables

========================================================= */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #21212b;
  color: #fff; }

#site-navigation {
  position: fixed !important;
  z-index: 100000;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 5%;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto; }
  #site-navigation::after {
    clear: both;
    content: "";
    display: table; }
  #site-navigation .site-nav-logo {
    text-indent: -624.9375rem;
    display: block;
    height: 1.875rem;
    width: 2.25rem;
    float: left;
    background-image: url("../images/logo.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-top: 0.75rem;
    opacity: .5; }
  #site-navigation .menu-toggle {
    opacity: .5;
    text-indent: 99999px;
    height: 1.875rem;
    width: 2.625rem;
    float: right; }
    #site-navigation .menu-toggle .icon {
      display: block;
      height: 0.0625rem;
      width: 2.25rem;
      background-color: #fff; }
      #site-navigation .menu-toggle .icon:before, #site-navigation .menu-toggle .icon:after {
        content: '';
        position: absolute;
        display: block;
        height: 0.0625rem;
        width: 2.25rem;
        background-color: #fff; }
      #site-navigation .menu-toggle .icon:before {
        margin-top: -0.5625rem; }
      #site-navigation .menu-toggle .icon:after {
        margin-top: 0.5625rem; }

#site-menu {
  position: absolute;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  background: #fff; }

.home-hero {
  position: relative;
  height: 100vh;
  width: 100%; }
  .home-hero .home-hero-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
    .home-hero .home-hero-content h1 {
      display: block;
      text-align: center;
      color: #fff;
      clear: both;
      font-size: 4.5rem; }
    .home-hero .home-hero-content h4 {
      display: block;
      text-align: center;
      font-weight: 100;
      color: #cb4e4e;
      font-size: 1.125rem;
      text-transform: uppercase;
      letter-spacing: 0.1875rem;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .home-hero .home-hero-content h4:last-child {
        margin-right: 0; }
  .home-hero .home-bkg {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/leaves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .05; }
