@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* =========================================================

Base: Variables

========================================================= */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #21212b;
  color: #fff; }

#site-navigation {
  position: fixed !important;
  z-index: 10000;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 5%;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto; }
  #site-navigation::after {
    clear: both;
    content: "";
    display: table; }
  #site-navigation .site-nav-logo a {
    text-indent: -624.9375rem;
    display: block;
    height: 1.625rem;
    width: 2.625rem;
    float: left;
    background-image: url("../images/logo.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-top: 0.75rem;
    opacity: .5;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    #site-navigation .site-nav-logo a:hover {
      opacity: .75; }
  #site-navigation .menu-toggle {
    cursor: pointer;
    opacity: .5;
    text-indent: 99999px;
    height: 1.875rem;
    width: 1.5rem;
    float: right;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    #site-navigation .menu-toggle .icon {
      display: block;
      height: 0.0625rem;
      width: 1.5rem;
      background-color: #fff;
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      #site-navigation .menu-toggle .icon:before, #site-navigation .menu-toggle .icon:after {
        content: '';
        position: absolute;
        display: block;
        height: 0.0625rem;
        width: 1.5rem;
        background-color: #fff;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        transition: all 0.25s ease; }
      #site-navigation .menu-toggle .icon:before {
        margin-top: -0.375rem; }
      #site-navigation .menu-toggle .icon:after {
        margin-top: 0.375rem; }
    #site-navigation .menu-toggle:hover {
      opacity: .75; }
      #site-navigation .menu-toggle:hover .icon:before {
        -webkit-transform: translateY(-3px);
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);
        transform: translateY(-3px); }
      #site-navigation .menu-toggle:hover .icon:after {
        -webkit-transform: translateY(3px);
        -moz-transform: translateY(3px);
        -ms-transform: translateY(3px);
        -o-transform: translateY(3px);
        transform: translateY(3px); }
    #site-navigation .menu-toggle.site-menu-open .icon {
      background-color: transparent; }
      #site-navigation .menu-toggle.site-menu-open .icon:before {
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
        margin-top: 0; }
      #site-navigation .menu-toggle.site-menu-open .icon:after {
        -webkit-transform: rotate(-225deg);
        -moz-transform: rotate(-225deg);
        -ms-transform: rotate(-225deg);
        -o-transform: rotate(-225deg);
        transform: rotate(-225deg);
        margin-top: 0; }

#site-menu {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #21212b;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  #site-menu .site-menu-nav {
    position: relative;
    text-align: center;
    list-style: none;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  #site-menu.site-menu-open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

.home-hero {
  position: relative;
  height: 100vh;
  width: 100%; }
  .home-hero .home-hero-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
    .home-hero .home-hero-content h1 {
      display: block;
      text-align: center;
      color: #fff;
      clear: both;
      font-size: 4.5rem; }
    .home-hero .home-hero-content h4 {
      display: block;
      text-align: center;
      font-weight: 100;
      color: #cb4e4e;
      font-size: 1.125rem;
      text-transform: uppercase;
      letter-spacing: 0.1875rem;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .home-hero .home-hero-content h4:last-child {
        margin-right: 0; }
      @media screen and (min-width: 48em) {
        .home-hero .home-hero-content h4 {
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 65.8807828007%;
          margin-left: 17.0596085997%; }
          .home-hero .home-hero-content h4:last-child {
            margin-right: 0; } }
  .home-hero .home-bkg {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/leaves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .05; }
  .home-hero .intro-scroll-container {
    position: absolute;
    z-index: 100;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 3.75rem;
    height: 1.875rem;
    width: 1.875rem;
    display: block; }
    .home-hero .intro-scroll-container .intro-scroll {
      position: relative;
      height: 1.875rem;
      width: 1.875rem;
      border: 0.0625rem solid #cb4e4e;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      transition: all 0.25s ease; }
    .home-hero .intro-scroll-container .intro-scroll-arrow {
      height: 3px;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      .home-hero .intro-scroll-container .intro-scroll-arrow:before, .home-hero .intro-scroll-container .intro-scroll-arrow:after {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        width: 8px;
        background-color: #fff; }
      .home-hero .intro-scroll-container .intro-scroll-arrow:before {
        right: -0.0625rem;
        bottom: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .home-hero .intro-scroll-container .intro-scroll-arrow:after {
        left: -0.0625rem;
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .home-hero .intro-scroll-container .intro-scroll-text {
      position: absolute;
      min-width: 138px;
      top: 50%;
      margin-top: -0.375rem;
      margin-left: 0.25rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      opacity: .5;
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      .home-hero .intro-scroll-container .intro-scroll-text span {
        display: inline-block;
        color: #fff;
        font-size: 0.5625rem;
        letter-spacing: 0.1875rem;
        text-transform: uppercase;
        font-weight: 100; }
        .home-hero .intro-scroll-container .intro-scroll-text span:first-of-type {
          float: left; }
        .home-hero .intro-scroll-container .intro-scroll-text span:last-of-type {
          float: right; }
    .home-hero .intro-scroll-container:hover .intro-scroll {
      -webkit-transform: translateY(0.1875rem) rotate(45deg);
      -moz-transform: translateY(0.1875rem) rotate(45deg);
      -ms-transform: translateY(0.1875rem) rotate(45deg);
      -o-transform: translateY(0.1875rem) rotate(45deg);
      transform: translateY(0.1875rem) rotate(45deg);
      border-color: #fff;
      opacity: .75; }
    .home-hero .intro-scroll-container:hover .intro-scroll-arrow {
      -webkit-transform: translateY(2.5rem);
      -moz-transform: translateY(2.5rem);
      -ms-transform: translateY(2.5rem);
      -o-transform: translateY(2.5rem);
      transform: translateY(2.5rem); }
    .home-hero .intro-scroll-container:hover .intro-scroll-text {
      opacity: .75; }
