{% extends 'partials/base.html.twig' %}

{% block content %}
	<section class="home-hero">
		<div class="home-hero-content">
			{{ page.content }}
		</div>

		{# Scroll Image #}
		<a href="#work-anchor" class="intro-scroll-container" data-0="opacity:1;bottom: 10%;" data-500="opacity:0;bottom:62%;">
			<div class="intro-scroll"></div>
				<div class="intro-scroll-arrow"></div>
			<div class="intro-scroll-text">
			  <span>View</span>
			  <span>Work</span>
			</div>
		</a>
	</section>

	<section class="home-work" id="work-anchor">
		<div class="home-work-feed">
			<ul>
			{% for p in page.find('/').children if p.visible %}
				<li>
					<a href="{{p.url}}">
						<div class="work-item-background">
							<h3>{{ p.title }}</h3>
						</div>
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</section>

	{# Background Image #}
		<div class="home-bkg" style="background-image: url('{{ header.background_img }}');"></div>
{% endblock %}
