{% extends 'partials/base.html.twig' %}

{% block content %}
	<section class="home-hero">
		<div class="home-hero-content">
			{{ page.content }}
		</div>
		<div class="home-bkg"></div>
	</section>
{% endblock %}
