/*
Error: Undefined mixin 'breakpoint'.
        on line 13 of scss/03-modules/project-desktop-slider.scss, in `breakpoint'
        from line 13 of scss/03-modules/project-desktop-slider.scss

8: 	margin-bottom: 40%;
9: 	position: relative;
10: 
11: 	border-top: 1px solid rgba(255,255,255,.05);
12: 
13: 	@include breakpoint($bp-s) {
14: 		padding-top: rem(90);
15: 	}
16: 
17: 	@include breakpoint($bp-m) {
18: 		padding-top: rem(120);

Backtrace:
scss/03-modules/project-desktop-slider.scss:13:in `breakpoint'
scss/03-modules/project-desktop-slider.scss:13
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:98:in `with_mixin'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `map'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'breakpoint'.\A         on line 13 of scss/03-modules/project-desktop-slider.scss, in `breakpoint'\A         from line 13 of scss/03-modules/project-desktop-slider.scss\A \A 8: 	margin-bottom: 40%;\A 9: 	position: relative;\A 10: \A 11: 	border-top: 1px solid rgba(255,255,255,.05);\A 12: \A 13: 	@include breakpoint($bp-s) {\A 14: 		padding-top: rem(90);\A 15: 	}\A 16: \A 17: 	@include breakpoint($bp-m) {\A 18: 		padding-top: rem(120);"; }
