/*
Error: Undefined variable: "$section-padding-s".
        on line 9 of scss/03-modules/project-image-left.scss

4: 
5: ========================================================= *\/
6: 
7: .project-image-left {
8: 	position: relative;
9: 	padding: $section-padding-s;
10: 
11: 	@include breakpoint($bp-s) {
12: 		padding: $section-padding-m;
13: 		padding-top: rem(36);
14: 		padding-bottom: rem(36);

Backtrace:
scss/03-modules/project-image-left.scss:9
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/script/tree/node.rb:50:in `perform'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `map'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/plugin.rb:109:in `method_missing'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/bin/sass:23:in `load'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/bin/sass:23:in `<main>'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/bin/ruby_executable_hooks:15:in `eval'
/Users/michaelfangman/.rvm/gems/ruby-2.4.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$section-padding-s\".\A         on line 9 of scss/03-modules/project-image-left.scss\A \A 4: \A 5: ========================================================= */\A 6: \A 7: .project-image-left {\A 8: 	position: relative;\A 9: 	padding: $section-padding-s;\A 10: \A 11: 	@include breakpoint($bp-s) {\A 12: 		padding: $section-padding-m;\A 13: 		padding-top: rem(36);\A 14: 		padding-bottom: rem(36);"; }
